@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0c0c0c;
    font-style: normal;
}
 body {
    margin-bottom: 0px !important;
}
p,
li,
a,
button,
span,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}
 

a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

    a:focus,
    .btn:focus,
    .button:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none !important;
    } 

    button:focus,
    input:focus,
    input:focus,
    textarea,
    textarea:focus {
        outline: 0;
    }

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #2c2c2c;
    margin-top: 0px;
    font-style: normal;
    
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
}

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        color: inherit;
    }

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

 

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}

a, div {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
a{text-decoration: none !IMPORTANT;} 
*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #161616;
    font-size: 17px;
    opacity: 1;
}

*::placeholder {
    color: #161616;
    font-size: 17px;
    opacity: 1;
}
 
.wp-smart-loader {
    text-indent: -12345px;
}
 
 .w-f-bg .wpcf7-form-control {
    padding: 10px !IMPORTANT;
}
.w-f-bg .wpcf7-select {
    font-size: 14px !IMPORTANT;
}
 .w-f-bg .wpcf7-form-control:placeholder {
    color: #161616;
    font-size: 14px;
    opacity: 1;
}
input:placeholder{color: #161616;
    font-size: 14px !important;
    opacity: 1 !important;}
input::placeholder{color: #161616;
    font-size: 14px !important;
    opacity: 1 !important;}
 textarea::placeholder{color: #161616;
    font-size: 14px !important;
    opacity: 1 !important;}   
    .po-r {
    position: relative;
    z-index: 2;
}
.w-f-bg {
    margin: 0px !important;
    position: relative;
    display: block;
    background: #fff;
    padding: 50px 30px 10px 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
.wpcf7-submit {
    width: 100%;
    margin-bottom: 0px !important;
    font-size: 22px !important;
    height: 50px;
    background: #192730 !IMPORTANT;
}
.wpcf7-submit:hover {
    background:#ffd700 !important;
    color: #000 !important;
}
.heading-t h4 {
    padding-left: 15px;
    border-left: 3px solid #192730;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.new-pd{padding: 30px 15px !Important;}
.bef-line:before {
    top: 10px;
    content: "";
    position: absolute;
    width: 86px;
    height: 97%;
    background: #012d7a;
}
.testimonial-one__content-text p {
    font-size: 17px;
    font-weight: 400;
    color: #444;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

 /*--------------------------------------------------------------
 * Theme Css Start
 *--------------------------------------------------------------
 */
  
.post, .page {
    margin: 0px !important;
}

  
.testimonial-one__single {
  position: relative;
  display: block;
  padding: 40px 50px 41px 121px;
  background-color: rgb(255, 255, 255);
  
  margin-left: 64px;
 border-left: 5px solid #012d7a;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.testimonial-one__single:hover {
  border-left: 5px solid #012d7a;
}

.testimonial-one__client-img-box {
  position: absolute;
  left: -70px;
  top: 50px;
}

.testimonial-one__img {
  position: relative;
  display: inline-block;
  width: 140px;
  border-radius: 50%;
}

.testimonial-one__img img {
  width: 100% !important;
  border-radius: 50%;
}

.testimonial-one__icon-box {
  position: absolute;
  top: 50%;
  right: -27px;
  transform: translateY(-50%);
}

.testimonial-one__icon-box span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  width: 67px;
  height: 67px;
  background-color: #012d7a;
  border-radius: 50%;
  color: #fff;
}
.testimonial-one__content-text {
    font-size: 15px;
    font-weight: normal;
    color: #525252;
    display: -webkit-box!important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    line-height: 25px;
    
} 

.testimonial-one__rating {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.testimonial-one__rating-icon {
  position: relative;
  display: flex;
  align-items: center;
  top: -3px;
}

.testimonial-one__rating-icon i {
  font-size: 15px;
  color:#ffbc20;
}

.testimonial-one__user {
  position: relative;
  display: block;
}

.testimonial-one__user-name {
  position: relative;
  display: block;
  text-align: right;
}

.testimonial-one__user-name h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #012d7a;
}

.testimonial-one__user-name p {
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  color: #878680;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

 .testimonial-one__carousel .owl-nav {
    position: initial;
    top: -7em;
    right: 3em;
	
     
    margin-top: 0px;
    text-align: center;margin-top: 25px;
}
.testimonial-one__carousel .owl-nav button {
    height: 55px!important;
    width: 55px!important;
    font-size: 24px!important;
    line-height: 55px !IMPORTANT;
    border-color: #012d7a !IMPORTANT;
    border: 1px solid #012d7a !IMPORTANT;
    margin-left: 20px;
    border-radius: 50%;
    color: #012d7a !IMPORTANT;
}
.testimonial-one__carousel .owl-nav button:hover{background: #012d7a !important; border: 1px solid #012d7a !IMPORTANT;color: #fff !IMPORTANT;}



.top-meta-list {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
	    position: relative;
    padding-bottom: 13px;
}

.author-img {
    color: gold;
}
  .bef-line:before {
    top: 10px;
    content: "";
    position: absolute;
    width: 86px;
    height: 97%;
    background: #012d7a;
}

.single-wealth-secure-box {
  position: relative;
  display: block;
  padding-right: 30px;
}

.single-wealth-secure-box .img-box {
  position: relative;
  display: block;
}

.single-wealth-secure-box .img-box-inner {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #646464;
}

.single-wealth-secure-box .img-box img {
  width: 100%;
   
}

.single-wealth-secure-box:hover .img-box img {
  
}

.single-wealth-secure-box .inner-title {
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 30px 17px; 
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
   background-image: -moz-linear-gradient(180deg, rgb(0 48 192) 0%, rgb(8 40 131) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(0 48 192) 0%, rgb(8 40 131) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(0 48 192) 0%, rgb(8 40 131) 100%);
}

.single-wealth-secure-box:hover .inner-title {
  justify-content: flex-start;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}




.single-wealth-secure-box.style2 .inner-title {
    background-image: -moz-linear-gradient(180deg, rgb(0 48 192) 0%, rgb(8 40 131) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(0 48 192) 0%, rgb(8 40 131) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(0 48 192) 0%, rgb(8 40 131) 100%);
}

.single-wealth-secure-box .inner-title h3 {
  position: relative;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  z-index: 1;margin-bottom: 0px;
}

.single-wealth-secure-box .inner-title h3 a {
  color: #ffffff;
}

.single-wealth-secure-box .inner-title .arrow-top {
  position: absolute;
  top: 0;
  right: 60px;
  border-top: 50px solid #ffffff;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  opacity: 0.20;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.single-wealth-secure-box:hover .inner-title .arrow-top {
  transform: scale(0);
}

.single-wealth-secure-box .inner-title .arrow-bottom {
  position: absolute;
  right: 90px;
  bottom: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  opacity: 0.20;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}

.single-wealth-secure-box:hover .inner-title .arrow-bottom {
  transform: scale(0);
}

.single-wealth-secure-box .inner-title .right-arrow-btn {
  position: relative;
  display: block;
  line-height: 0;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

.single-wealth-secure-box:hover .inner-title .right-arrow-btn {
  padding-left: 10px;
}
.text-box p {
    color: #141414;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 5px;
       display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.single-wealth-secure-box .inner-title .right-arrow-btn a {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
}
.service-carousel .owl-stage-outer {
    
}
.single-wealth-secure-box .text-box {
  position: relative;
  display: block;
  background-color: #f9f9f9;
  padding: 23px 30px 23px;
   
}

.bd-blog-content h4 a {
    font-size: 19px;
    color: #000;     
}
.bd-blog-content h4 a:hover {
    color: #192730;
}
.bd-blog-content-title {
    margin: 20px 0;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    line-height:27px;
}
.date-t {
    font-size: 14px;
    color: #858585;
    font-weight: 400;
}

.top-meta-list {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
	    position: relative;
    padding-bottom: 13px;
}

.author-img {
    color: #012d7a;
}
.top-meta-list li {
    float: none;
    width: auto;
    padding: 0px 10px;
    position: relative;
    display: inherit;
}
.top-meta-list li:first-child {
    text-align: right;
}
.top-meta-list li:last-child {
    text-align: left;
}
.author-name {
    font-size: 13px;
    text-transform: capitalize;
    color: #7e7e7e;
    font-weight: 400;
}
.bd-blog-content {
    text-align: center;
    margin-top: 0px !IMPORTANT;
    display: inline-block;
}
.bd-blog-content-title {
    margin-top: 4px;
}
.bd-blog-content h4 a:hover {
    color: #012d7a;
}
.top-meta-list:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #cbcbcb;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.top-meta-list li:first-child:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background: #cbcbcb;
    right: -2px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.bd-blog-thumb img {
    border-radius: 17px;
}
.be-bg:before {
    content: "";
    position: absolute;
    background: #012d7a;
    width: 75%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 63%;
}

.min-title h1 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.breadcrumb-link span {
    color: #fff;
    
}
.currentm {
    width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
   
    margin-left: 10px;
}
.breadcrumb-link a {
    color:#fff;
    position: relative;
     
}
 
.breadcrumb-link a:after {
    content: "\e606\e606";
    font-family: Simple-Line-Icons;
    font-size: 10px;
    letter-spacing: 0px !IMPORTANT;
    color: #fff;
}
.breadcrumb-link {
    display: flex;font-weight: 600;
}

.subbanner2 {
    padding: 12% 0;
    position: relative;
    background-size: cover;
    background-position: center;
}

 

.subbanner2:before {
    content: "";
    position: absolute;
    opacity: 0.4;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: #012d7a;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.subbanner2 h1 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.subbanner2 h2 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.min-title h1 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.left-f .form-group.col-md-6 {
    float: left;
    display: inline-block;
    margin-bottom: 15px !important;
}
.left-f .form-group .wpcf7-form-control {
    width: 100%;
    border-radius: 0px;
}
.left-f {
    /* display: inherit; */
    float: left;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
}
.left-f .wpcf7-form-control {
    padding: 10px !IMPORTANT;
}
.left-f .wpcf7-select {
    font-size: 14px !IMPORTANT;
}
.left-f .wpcf7-form-control:placeholder {
    color: #161616;
    font-size: 14px;
    opacity: 1;
}
.ekit-wid-con .ekit-form form input:not([type=submit]):not([type=checkbox]):not([type=radio]):hover {
    border-color: #333;
}
.np-0 p {
    margin-bottom: 0px;
}
.left-f {
    padding: 50px !important;
    padding-bottom: 25px !IMPORTANT;
}
.np-0 .wpcf7-submit {
    border: none;
    background-color: #012d7a !important;
    color: #fff !important;
    font-size: 20px !IMPORTANT;
    cursor: pointer;
}
.np-0 .wpcf7-submit:hover {
    background-color: #0e0e0e !important;
    color: #fff !important;
}
.po-btn .wpcf7-submit {
    background: #012d7a !important;
    font-size: 17px !important;
    color: #fff !IMPORTANT;
}
.service-carousel .owl-nav {
    position: initial;
    top: -7em;
    right: 3em; 
    margin-top: 0px;
    text-align: center;margin-top: 25px;
}
.service-carousel .owl-nav button {
    height: 55px!important;
    width: 55px!important;
    font-size: 24px!important;
    line-height: 55px !IMPORTANT;
    border-color: #012d7a !IMPORTANT;
    border: 1px solid #012d7a !IMPORTANT;
    margin-left: 20px;
    border-radius: 50%;
    color: #012d7a !IMPORTANT;
}
.service-carousel .owl-nav button:hover{background: #012d7a !important; border: 1px solid #012d7a !IMPORTANT;color: #fff !IMPORTANT;}
.service-carousel .owl-nav button{float: left;}
.service-carousel .owl-nav button:first-child{margin-left: 0px;}

 .goals-carousel .owl-nav {
    position: initial;
    top: -7em;
    right: 3em;     
    margin-top: 0px;
    text-align: center;margin-top: 25px;
}
.goals-carousel .owl-nav button {
    height: 55px!important;
    width: 55px!important;
    font-size: 24px!important;
    line-height: 55px !IMPORTANT;
    border-color: #012d7a !IMPORTANT;
    border: 1px solid #012d7a !IMPORTANT;
    margin-left: 20px;
    border-radius: 50%;
    color: #012d7a !IMPORTANT;
}
.goals-carousel .owl-nav button:hover{background: #012d7a !important; border: 1px solid #012d7a !IMPORTANT;color: #fff !IMPORTANT;}
.top-meta.clearfix {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}